* {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    background-color: blue;
}

#header-logo {
    width: 150px;
    height: 120px;
    display: block;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid black;
    padding: 3px 7px 6px;
    background-color: gray;
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "🟰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: Merriweather;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.open a {
    display: block;
}

#welcome-msg {
    font-size: 55px;
}